@media screen and (max-width: 1023px) {

    #carusel, #latest-releases, #popular-artists, #radio-stations, #themes, #latest-english, #latest-hindi{
        width: 70vw;
    }

    .slidecontainer{
        width: 150%;
    }

    .audio-container{
        padding: 10px 40px;
    }

    .intro-section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        margin: 0px;
        height: auto;
        width: 100vw;
        padding: 20px 0px;
    }

    .intro-section .intro-image-container{
        width: 250px;
        height: auto;
        margin: 60px 10px 0px 15px;
    }

    .intro-section .artist-description h4 {
        font-size: 20px;
        line-height: 17px;
    }

    .intro-section .artist-description{
        font-size: 12px;
        line-height: 18px;
        margin: 2px;
        width: 90%;
    }

    #hone-redirect{
        position: relative;
        right: 100px;
    }

    .name-and-artist{
        margin: 20px 50px 0px 50px;
        width: 80%;
        height: auto;
        font-size: 15px;
    }

    #song-list-container{
        width: 100vw;
        margin-top: 10px;
    }
    .song-card{
        padding: 10px;
    }
    .song-image{
        margin-left: -10px;
        width: 90px;
        height: 100px;
    }
    .icon-container i{
        margin: 7px;
        padding: 4px;

    }
    #header{
        display: none;
    }

    #similar-artists-container{
        background-color: red;
        display: none;
    }

    .recently-played *{
        display: none;
    }

    #queue{
        display: block;
        color: white; 
        position: fixed;
        top: 70%;
        margin-left: 94%;
    }

    .aside-section-header,.aside-container-hidden{
        display: none;
    }

    .main-part + div{
        padding: 0px 100px;
    }
}
@media screen and (max-width: 480px) {
    body{
        padding: 20px;
    }
    .intro-section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        margin: 0px;
        height: 75vh;
        width: 100vw;
    }
    .intro-section .intro-image-container{
        width: 250px;
        height: auto;
        margin: 60px 10px 0px 15px;
    }

    
    .intro-section .artist-description h4 {
        font-size: 20px;
        line-height: 17px;
    }
    .intro-section .artist-description{
        font-size: 12px;
        line-height: 18px;
        margin: 2px;
        width: 90%;
    }

    #hone-redirect{
        position: relative;
        right: 100%;
    }
    
    .name-and-artist{
        margin: 20px 50px 0px 50px;
        width: 80%;
        height: auto;
        font-size: 15px;
    }
    
    #song-list-container{
        width: 100vw;
    }
    .song-card{
        padding: 10px;
    }
    .song-image{
        margin-left: -10px;
        width: 90px;
        height: 100px;
    }
    .icon-container i{
        margin: 7px;
        padding: 4px;

    }

    #queue{
        display: block;
        color: white; 
        position: fixed;
        top: 70%;
        margin-left: 94%;
    }
    #header{
        display: none;
    }

    #similar-artists-container{
        background-color: red;
        display: none;
    }

    .recently-played *{
        display: none;
    }
}